{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'product_view' pk=product.pk %}">Cancel</a></li>
{% endblock %}

{% block content %}
    <h1>Are you sure you want to delete "{{ product.product_name }}"?</h1>
    <form action="{% url 'product_remove' pk=product.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Yes"></p>
        <p><a href="{% url 'product_view' product.pk %}"><input type="button" value="No"></a></p>
    </form>
    <h3>Issue:</h3>
    <p class="pre">{{ product.product_name }}</p>
{% endblock %}